.parent {
  display: flex;
  height: 100vh;
  background-image: url('../pic/bg.png');
  background-size: 100% 100%;
}

.form-data {
  justify-content: center;
  height: 500px;
  width: 350px;
  /* border: 1px solid black; */
  margin-top: 400px;
  margin-left: auto;
}
.name-field,
.date-field,
.place-field {
  display: block;
  margin: 10px;
}
#name {
  margin-left: 30px;
}
#place {
  margin-left: 34px;
}
#send-submit {
  margin-left: 110px;
  /* height: 40px; */
  width: 100px;
}
h4 {
  text-align: center;
}
/* .place-field {
  display: block;
} */
#note {
  margin-left: 40px;
}
#welMessage {
  margin: 10px;
  margin-left: 30px;
  color: white;
}
