body {
  margin: 0px;
}
.navbar {
  height: 60px;
  width: 100vw;
  background: grey;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
  margin: 0px 40px;
  align-items: center;
}
li a:hover {
  background-color: #fff;
}

/* .add-contact {
  display: none;
} */
