* {
  padding: 0;
  margin: 0;
}
.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url('../pic/login_bg_img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.login-details {
  padding: 20px;
  height: '25vh';
  width: '35vw';
  margin: auto;
  border: 2px solid black;
  background-color: white;
}

.login-header {
  margin: 10px 70px;
}
.login-details input {
  display: block;
  margin: 5px 0px;
}

.user-type input {
  display: inline;
}
#user {
  margin-left: 70px;
}

#submit-button {
  margin: 15px 50px;
  background-color: green;
  height: 30px;
  width: 80px;
  color: white;
}

.create-account {
  margin-top: 10px;
}
.user-type {
  margin-top: 10px;
}
