.signup-page {
  border: 1px solid black;
  height: 500px;
  width: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.signup-page input {
  display: block;
  margin: 5px 0px;
}

#signup-button {
  margin: 15px auto;
  height: 30px;
  color: white;
  background-color: rgb(49, 123, 49);
}
.user-type input {
  display: inline;
  margin: 10px 0px;
}
#user {
  margin-left: 65px;
}
