<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="../css/signup.css" />
  </head>
  <body>
    <div class="signup-page">
      <form action="#">
        <p>Enter Details:</p>
        <for id="first-name">First Name:</for>
        <input type="text" id="user-id" name="firstName" required />
        <for id="middle-name">Middle Name:</for>
        <input type="text" id="user-id" name="middleName" />
        <for id="last-name">Last Name:</for>
        <input type="text" id="user-id" name="lastName" required />
        <for id="user-email">Email:</for>
        <input type="email" id="user-email" name="userEmail" required />
        <for id="user-pass">Password:</for>
        <input type="password" id="user-pass" name="userPass" required />
        <for id="confm-pass">Confirm Password:</for>
        <input type="password" id="cnfm-pass" name="confPass" required />
        <input type="submit" id="signup-button" />
      </form>
    </div>
  </body>
</html>
